.img-ft {
    background: url('../images/crossword.png');
}
.footer {
    padding: 20px 0 0;
    border-top: 5px solid $color-2hv;
    background: $color-2;
    .contact {
        color: $color-a;
        .name-section {
            color: $color-a;
            font-size: 30px;
        }
        .control-slide {
            margin: 10px 0;
            text-align: right;
        }
        .feedback {
            margin-top: 10px;
            color: $color-k;
            padding: 10px 0;
            border: 2px solid $color-2hv;
            .desciption-section {
                font-size: 17px;
            }
            .author-feedback {
                font-family: $font-title;
                text-align: right;
                font-size: 22px;
                &:before {
                    content: " - ";
                }
                &:after {
                    content: " - ";
                }
            }
        }
    }
    .embed-map {
        border: 0;
        width: 100%;
        height: 300px;
    }
    .copyright {
        margin-top: 20px;
        font-size: 16px;
        color: $color-a;
        padding: 10px 0;
        background: $color-2hv;
    }
}
